/* html { 
    background: url(pageimg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  } */

/* .container {
    padding-top: 20px;
} */

.main {
      padding-bottom: 250px;
  }

img {
    width: 3rem;
    height: auto;
}

.nav-link {
    padding: 0px;
}